/* Setup */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* End of Setup */

body {
	font-family: 'Raleway', sans-serif;
	background-color: white;
}

section {
	display: block;
	padding: 50px 0;
}

h2 {
	margin: 0;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 22px;
	text-align: center;
	padding-top: 50px;
}

h3 {
	margin: 0;
	padding-bottom: 5px;
	font-weight: 300;
	letter-spacing: 1.5px;
	font-size: 18px;
}

p {
	font-size: 14px;
	text-align: center;
	margin: 0;

}


.score {
	border-top: 2px solid #aa863a;
	margin: 20px auto;
	display: block;
	width: 20px;
	
}

video.coverVid {
	position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    background-attachment: fixed;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	position: relative;
	
}

#cover .wrapper {
	height: 100vh;
}

.headerText {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

nav {
	padding: 20px 0;
	text-align: right;
}

nav ul {
	font-family: 'Raleway' sans-serif;
	font-weight: 300;
	font-size: 13px;
	padding: 0;
}

nav ul li{
	display: inline-block;
	padding: 0 20px;
}

nav ul li a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	letter-spacing: 1.5px;
	font-size: 12px;
	font-weight: 400;
}

nav ul li a:hover{
	color: #aa863a ;
	border-bottom: 1px solid #aa863a;
	transition: all .2s ease;
}


#cover {
	width: 100%;
	min-height: 100vh;
	padding: 0;
}

#cover h2 {
	color: white;
	font-size: 15px;
	padding-top: 20px;
	font-weight: 300;
	text-transform: lowercase;
	letter-spacing: 4px;
	text-align: center;
}

img.headerLogo {
	width: 70%;
	display: block;
	margin: 0 auto;
	
}

#selectedWork, #rentals{
	background-color: #f4f1eb;
}

#selectedWork {
	border-bottom: 1px dotted #aa863a;
}

.imageHolder {
	float: left;
	width: calc(33.333333% - 10px);
	margin: 5px;
	position: relative;
	transition: all .2s ease;
}

.imageHolder img {
	width: 100%;
	display: block;
}


.imageHolder:hover .extraInfo {
	display: block;	
}

.imageHolder .extraInfo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(170, 134, 58, 0.5);
	color: #FFFFFF;
	display: none;
	text-align: center;
	transition: all .2s ease;
}

.extraInfo h3 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}


#rentals, #contact {
	width: 100%;
}

.buttons {
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

button {
	padding: 20px 30px;
	margin: 5px 10px 10px 0 ;
	border: 1px solid #aa863a;
	border-radius: 8px;
	background-color: #aa863a;
	transition: all .3s ease;
}

button:hover {
	background-color: #f4f1eb;
}	

button:hover a {
	color: #aa863a;
}


button a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 14px;
}

#contact, footer{
	background-color: rgba(170, 134, 58, 0.9);
	color: #f4f1eb;
}

#contact h3 {
	font-weight: 700;
}

#contact p {
	text-align: left;
	letter-spacing: 1.5px;
	font-weight: 300px;

}

#contact .score {
	border-top: 2px solid black;
}

.profile {
	margin-bottom: 30px;
}

form ul li {
	list-style: none;
	list-style-position: inside;
	margin: 8px 0;
}

form ul li input, form ul li textarea {
	background-color: rgba(170, 134, 58, 0);
	border: 1px solid #f4f1eb;
	padding: 8px;
	width: 100%;
}

::-webkit-input-placeholder {
   color: #f4f1eb;
   font-weight: 200;
}

:-moz-placeholder { /* Firefox 18- */
   color: #f4f1eb; 
   font-weight: 200; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #f4f1eb; 
   font-weight: 200; 
}

:-ms-input-placeholder {  
   color: #f4f1eb;  
   font-weight: 200;
}

input[type=submit] {
	color: white;
	transition: all .3s ease;
}

input[type=submit]:hover {
	background-color: white;
	color: #aa863a;
}

.contactL {
	margin-top: 15px;
	float: left;
	width: 30%;
}

.contactR {
	float: left;
	width: 70%;
}

footer {
	height: 50px;
}


/* ------------------------------------  */
/* -----------  RESPONSIVE  -----------  */
/* ------------------------------------  */

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	
}

@media (max-width: 850px) {
	.wrapper {
		width: 90%;
	}	
	.extraInfo h3 {
		font-size: 15px;
	}
}

@media (max-width: 650px) {
	nav {
		position: absolute;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		bottom: 0;
	}

	#selectedWork .wrapper {
		width: 100%;
	}

	.imageHolder {
		margin: 0;
		width: 50%;
	}

	.imageHolder .extraInfo {
		display: block;
		background-color: transparent;
	}

	.extraInfo h3 {
		left: 69%;
    	top: 85%;
	}
}

@media (max-width: 520px) {

	.extraInfo h3 {
		left: 75%;
    	top: 85%;
	}

	.imageHolder {
		width: 100%;
	}

	.contactL, .contactR {
		width: 100%;
		text-align: center;
	}

	#contact p {
		text-align: center;
	}

	.contactR ul {
		padding: 0;
	}

	video {
		display: none;
	}

	#cover .wrapper {
		width: 100%;
		background-color: rgba(170, 134, 58, 0.8);
	}

	#cover {
		background-image: url('images/kelvinlee.jpg');
		background-size: cover;
	}

	img.headerLogo {
		width: 90%;
	}

}


@media (max-width: 450px) {
	

	nav ul li {
		padding: 8px;
		margin-bottom: 10px;
	}

	.extraInfo h3 {
		left: 50%;
    	top: 85%;
	}
	
	.headerText {
		top: 40%;
	}

	#cover h2 {
		font-size: 13px;
		width: 70%;
		margin: 0 auto;
	}
}




